@font-face {
  font-family: "satoshi-medium";
  src: url("/fonts/satoshi-medium.otf");
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi-Variable.ttf");
}

.satoshi {
  font-family: "satoshi";
}

@layer base {

  input[type=number] {
    appearance: textfield;
  }
}

#board {
  scroll-margin-top: 1rem;
}